masked_BOA.tif
tcb.tif
tcg.tif
tcw.tif
landsat_BOA_filtered.tif
landsat_BOA_filtered.tif.aux.xml
tcb_stm.tif
tcg_stm.tif
tcw_stm.tif
2013SU_BA_ENMAP_L2SIM.bsq
2013SU_BA_ENMAP_L2SIM.hdr
prediction_hyperspec_NV.tif
prediction_hyperspec_NW.tif
prediction_hyperspec_conifer.tif
prediction_hyperspec_decid.tif
prediction_hyperspec_shrub.tif
prediction_stack.tif
2013SU_BA_ENMAP_L2sim_renamed.tif
2013SU_BA_ENMAP_L2sim_renamed.tif.aux.xml
BOA
QAI
landsat_BOA_filtered_21072021.tif
landsat_BOA_filtered_21072021.tif.aux.xml
landsat_cloud_mask_20072021.tif
masked_BOA_21072021.tif
masked_BOA_21072021.tif.aux.xml
tcb_21072021.tif
tcb_stm_21072021.tif
tcg_21072021.tif
tcg_stm_21072021.tif
tcw_21072021.tif
tcw_stm_21072021.tif
full_stm_stack.tif
hyperspec_rf.rds
hyperspec_rf_tuned.rds
landsat_rf.rds
landsat_rf_tuned.rds
prediction_hyperspec.tif
prediction_landsat.tif
prediction_rf_hyperspec.tif
prediction_rf_landsat.tif
prediction_rf_tune_hyperspec.tif
prediction_rf_tuned_diff.tif
prediction_rf_tuned_diff_mean.tif
prediction_rf_tuned_landsat.tif
