masked_BOA.tif
tcb.tif
tcg.tif
tcw.tif
landsat_BOA_filtered.tif
landsat_BOA_filtered.tif.aux.xml
tcb_stm.tif
tcg_stm.tif
tcw_stm.tif
2013SU_BA_ENMAP_L2SIM.bsq
2013SU_BA_ENMAP_L2SIM.hdr
prediction_hyperspec_NV.tif
prediction_hyperspec_NW.tif
prediction_hyperspec_conifer.tif
prediction_hyperspec_decid.tif
prediction_hyperspec_shrub.tif
prediction_stack.tif
